* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #dfe9f5;
}

h1 {
    color: #07001f;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1)
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 4px;
    resize: vertical;
    background: #DBDFEA;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgba(17, 107, 143)
}

button:hover {
    background: rgba(17, 107, 143, 0.877)
}

